#contact-message {
  height: auto;
  display: block;
}

@media (max-width: 768px) {
  #contact-message {
    margin-top: 15px;
  }
}

#contact-message h3 {
  color: var(--light-green);
  margin-bottom: 30px;
  font-family: "Tommy-SemiBold";
  text-align: center;
}

@media (min-width: 992px) {
  #contact-message h3 {
    text-align: left;
  }
}

#contact-message ul {
  padding-left: 10px;
}

#contact-message ul li{
  color: var(--dark-gray);
}