<div class="container">
    <section id="main-banner" class="row">
        <div class="col-12">
            <h1>Entrada de blog</h1>
        </div>
    </section>

    <section id="blog-entry" class="row">
        <div class="col-md-3 about">
            <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-7">
                    <h5>Publicado</h5>
                    <p>22/06/2020</p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                    <div class="photo-container">
                        <img src="https://cdn.vox-cdn.com/thumbor/Oi6jzvQzWetJGlkpwLqlP1L9p28=/0x0:5568x3712/1200x800/filters:focal(2858x720:3748x1610)/cdn.vox-cdn.com/uploads/chorus_image/image/62207705/922984782.jpg.0.jpg"
                            alt="">
                    </div>
                </div>
                <div class="col-sm-7">
                    <h5>Escritor</h5>
                    <p>Miguel Cano</p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-7">
                    <div class="row">
                        <div class="col-12">
                            <h5>Compartir</h5>
                        </div>
                        <div class="col-4">
                            <img src="../../../assets/img/facebook-dark-green.png" alt="facebook">
                        </div>
                        <div class="col-4">
                            <img src="../../../assets/img/instagram-dark-green.png" alt="instagram">
                        </div>
                        <div class="col-4">
                            <img src="../../../assets/img/twitter-dark-green.png" alt="twitter">
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-8 content">
            <div class="img-container">

            </div>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet deserunt accusamus aliquam atque
                molestiae nemo facilis error recusandae modi aspernatur corrupti iure alias, itaque nulla qui quo quos.
                Veniam, rerum?
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt praesentium tenetur commodi ea unde
                veniam beatae debitis quod nulla odit minima, id, qui libero placeat vel itaque magnam facilis
                obcaecati.
            </p>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet deserunt accusamus aliquam atque
                molestiae nemo facilis error recusandae modi aspernatur corrupti iure alias, itaque nulla qui quo quos.
                Veniam, rerum?
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt praesentium tenetur commodi ea unde
                veniam beatae debitis quod nulla odit minima, id, qui libero placeat vel itaque magnam facilis
                obcaecati.
            </p>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet deserunt accusamus aliquam atque
                molestiae nemo facilis error recusandae modi aspernatur corrupti iure alias, itaque nulla qui quo quos.
                Veniam, rerum?
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt praesentium tenetur commodi ea unde
                veniam beatae debitis quod nulla odit minima, id, qui libero placeat vel itaque magnam facilis
                obcaecati.
            </p>

        </div>
    </section>
</div>