<div id="faq-container">
    <div class="row question">
        <div class="col-12 d-lg-none mb-3">
            <span class="p-symbol">P</span>
        </div>
        <p>
            <span class="d-none p-symbol">P</span> <span>{{ question }}</span>
        </p>
    </div>
    <div class="row answer">
        <div class="col-xs-12 col-lg-1 mb-3">
            <span>R</span>
        </div>
        <div class="col-11">
            <p>
                {{ answer }}
            </p>
        </div>
    </div>
</div>