<div class="bg-dark-green">
    <div class="container">
        <footer id="footer">
            <div class="d-none d-md-block row">
                <p>
                    &copy; 2020 Kromáticos Design | Desarrollado por
                    <a href="https://quantrackweb.com" target="_blank"> 
                        Quantrack web
                    </a>
                </p>
            </div>
            <div class="row mt-3 pb-3">
                <div class="col-12 d-flex justify-content-center d-md-none pb-4">
                    <a [routerLink]="['/home']" style="cursor: pointer;">
                        <img src="../../../assets/lukount/FOOTER/logo_blanco.png" alt="Logo" class="pl-2">
                    </a>
                </div>

                <div class="col-md-3">
                    <p class="d-none d-md-block">
                        Coded with love in Medellín, Colombia
                    </p>
                </div>

                <div class="col-12 d-md-none md-images">
                    <div class="d-flex social social-d-none">
                        <!-- <img src="../../../assets/lukount/FOOTER/facebook_icon.png" alt="Icono de facebook"> -->
                        <img src="../../../assets/img/linkedin.png" alt="Icono de linkedIn">
                        <img src="../../../assets/lukount/FOOTER/Instagram_icon.png" alt="Icono de Instagram">
                        <img src="../../../assets/lukount/FOOTER/twitter_icon.png" alt="Icono de twitter">
                    </div>
                </div>

                <div class="col-md-7">
                    <nav id="footer-nav">
                        <ul>
                            <li>
                                <a [routerLink]="['/home']" [routerLinkActive]="['active']">Home</a>
                            </li>
                            <li>
                                <a [routerLink]="['/contacto']" [routerLinkActive]="['active']">Contacto</a>
                            </li>
                            <li>
                                <a [routerLink]="['/faq']" [routerLinkActive]="['active']">FAQ</a>
                            </li>
                            <!-- <li>
                                <a [routerLink]="['/blog']" [routerLinkActive]="['active']">Blog</a>
                            </li> -->
                            <!-- <li style="font-size: 40px;" class="separator">
                                |
                            </li>
                            <li>
                                <a href="">Iniciar sesión</a>
                            </li> -->
                        </ul>
                    </nav>
                </div>
                <div class="d-none d-md-block col-md-2">
                    <a [routerLink]="['/home']" style="cursor: pointer;">
                        <img src="../../../assets/lukount/FOOTER/logo_blanco.png" alt="Logo" class="pl-2">
                    </a>
                </div>
            </div>

            <div class="d-none d-md-block row mt-3 images social-d-none">
                <!-- <img src="../../../assets/lukount/FOOTER/facebook_icon.png" alt="Icono de facebook"> -->
                <img src="../../../assets/img/linkedin.png" alt="Icono de linkedIn">
                <img src="../../../assets/lukount/FOOTER/Instagram_icon.png" alt="Icono de Instagram">
                <img src="../../../assets/lukount/FOOTER/twitter_icon.png" alt="Icono de twitter">
            </div>

            <div class="row d-md-none final-text-md">
                <p class="col-12">
                    &copy; 2020 Kromáticos Design
                </p>
                <p class="col-12">
                    Desarrollado por
                    <a href="https://quantrackweb.com" target="_blank"> 
                        Quantrack web
                    </a>
                </p>
            </div>

        </footer>
    </div>
</div>