#footer {
  color: white;
  padding-top: 30px;
  padding-bottom: 30px;
}

#footer p{
  margin-bottom: 0;
  color: white;
}

#footer p a {
  color: var(--light-green);
} 

#footer .md-images{
  display: flex;
  justify-content: center;
}

#footer .md-images .d-flex{
  justify-content: space-around;
}

#footer .md-images img{
  height: 25px;
  margin-left: 10px;
  margin-right: 10px;
}

#footer-nav {
  height: 100%;
  display: flex;
  justify-content: center;
}

#footer-nav ul {
  padding-left: 0;
}

@media (min-width: 768px) {
  #footer-nav {
    height: 100%;
    display: initial;
    justify-content: initial;
  }

  #footer-nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    padding-left: initial;
  }
}

#footer-nav ul li {
  list-style: none;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
}

@media (min-width: 768px) {
  #footer-nav ul li {
    padding-top: initial;
    padding-bottom: initial;
  }
}

#footer-nav ul li .active {
  color: var(--light-green);
}

#footer-nav ul .separator {
  display: none;
}

@media (min-width: 768px) {
  #footer-nav ul .separator {
    display: block;
  }
}

#footer-nav ul li a {
  color: white;
  font-size: 20px;
}

@media(min-width:768px){
  #footer-nav ul li a {
    text-align: initial;
  }
}

#footer-nav ul li a:hover {
  color: var(--light-green);
  cursor: pointer;
  text-decoration: none;
}

#footer .images{
    display: block;
    margin: 0 auto;
}

#footer .images img {
  margin-right: 20px;
}

#footer  .final-text-md p{
  text-align: center;
}