<div class="bg-dark-green">
    <div class="container">
        <footer id="footer">
            <div class="row">
                &copy; 2020 Kromáticos Design | Desarrollado por Great Ideas Solutions
            </div>
            <div class="row mt-3">
                <div class="col-md-3">
                    <small>
                        It's very easy to create stylish and beautiful prototypes
                        for your future projects, both graphical and dynamic.
                    </small>
                </div>
                <div class="col-md-7">
                    <nav id="footer-nav">
                        <ul>
                            <li>
                                <a [routerLink]="['/home']" [routerLinkActive]="['active']">Home</a>
                            </li>
                            <li>
                                <a [routerLink]="['/contacto']" [routerLinkActive]="['active']">Contacto</a>
                            </li>
                            <li>
                                <a [routerLink]="['/faq']" [routerLinkActive]="['active']">FAQ</a>
                            </li>
                            <li>
                                <a [routerLink]="['/blog']" [routerLinkActive]="['active']">Blog</a>
                            </li>
                            <li style="font-size: 40px;">
                                |
                            </li>
                            <li>
                                <a href="">Iniciar sesión</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-md-2"></div>
            </div>
            <div class="row mt-3 images">
                <img src="../../../assets/img/facebook.png" alt="">
                <img src="../../../assets/img/instagram.png" alt="">
                <img src="../../../assets/img/twitter.png" alt="">
            </div>
        </footer>
    </div>
</div>