/* Estilos de la cabecera */
#header{
  height: auto;
  margin-bottom: 50px;
}

#header .logo-container{
  width: 80%;
  height: 80%;
  background-color: var(--dark-green);
  display: flex;
  align-items: center;
}

@media (min-width: 768px) {
#header {
  height: 150px;
}
}

#header-nav {
  height: 100%;
}

@media (min-width: 576px) {
  #header-nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
  }
}

#header-nav ul li {
  list-style: none;
  padding-top: 15px;
  padding-bottom: 15px;
}

#header-nav ul li {
  list-style: none;
}

#header-nav ul li a {
  color: black;
}
#header-nav ul .separator{
  display: none;
}

@media (min-width: 576px) {
  #header-nav ul .separator{
    display: block;
  }
}

#header-nav ul li .active {
  color: var(--light-green) !important;
}

#header-nav ul li a:hover,
#header-nav ul li .active:hover {
  color: var(--light-green);
  cursor: pointer;
  text-decoration: none;
}

#header-nav ul li .active:hover {
  color: var(--dark-green) !important;
}

#header-nav ul li button {
  border-radius: 20px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 30px;
  padding-left: 30px;
}
