/* Estilos de la cabecera */
#header {
  height: auto;
  margin-bottom: 50px;
}

#header .logo-container {
  width: 100%;
  height: 100%;
}

@media (min-width: 768px) {
  #header {
    margin-bottom: 100px;
  }
}

#bars-container{
  float: right;
  background-color: white;
  border: none;
  text-shadow: none;
}

.fa-bars{
  color: var(--light-green);
  font-size: 30px;
}

/* Modal del menú */

.modal-container{
  background-image: url(../../../assets/lukount/HOME/bg_02.png);
  background-color: var(--light-green-bg);
}

.modal-container .modal-body .image-container img{
  width: 100%;
}

#menu-header{
  border: none;
  padding-right: 30px;
}


#menu-body{
  border: none;
  padding-right: 30px;
}

#menu-body nav ul li{
  list-style: none;
  padding: 20px;
}

#menu-body nav ul li a{
  color: var(--light-green);
}

#menu-body nav ul li .active{
  color: var(--dark-green);
}

#menu-body nav ul li #register-button{
  margin-top: 50px;

}

/* Navegación normal */

#header-nav {
  display: none;
}

@media (min-width: 768px) {
  
  .fa-bars{
    display: none;
  }
  
  #header-nav {
    display: block;
  }

  #header-nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
  }
}

#header-nav ul li {
  list-style: none;
  /* padding-top: 15px; */
  /* padding-bottom: 15px; */
}

#header-nav ul li {
  list-style: none;
}

#header-nav ul li a {
  color: black;
}
#header-nav ul .separator {
  display: none;
}

@media (min-width: 576px) {
  #header-nav ul .separator {
    display: block;
  }
}

#header-nav ul li .active {
  color: var(--light-green) !important;
}

#header-nav ul li a:hover,
#header-nav ul li .active:hover {
  color: var(--light-green);
  cursor: pointer;
  text-decoration: none;
}

#header-nav ul li .active:hover {
  color: var(--dark-green) !important;
}

#header-nav ul li button,
#menu-body nav ul li #register-button {
  border-radius: 20px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 30px;
  padding-left: 30px;
}
