<div class="container">
    <header class="row" id="header">
        <div class="col-4">
            <img src="" alt="Imagen de prueba">
        </div>
        <div class="col-8">
            <nav id="header-nav">
                <ul>
                    <li>
                        <a href="">
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="">
                            Contacto
                        </a>
                    </li>
                    <li>
                        <a href="">
                            FAQ
                        </a>
                    </li>
                    <li>
                        <a href="">
                            Blog
                        </a>
                    </li>
                    <li style="font-size: 30px;">
                        |
                    </li>
                    <li>
                        <button class="btn btn-outline btn-outline-light-green">
                            Registrate
                        </button>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
</div>