<header class="row" id="header">
    <div class="col-6 col-md-4">
        <div class="logo-container">
            <a [routerLink]="['/home']" style="cursor: pointer;">
                <img src="../../../assets/lukount/HOME/logo.png" alt="Logo Lukount">
            </a>
        </div>
    </div>
    <div class="col-6 col-md-8">
        <button id="bars-container" type="button" class="btn" (click)="openMenuModal(menu)">
            <i class="fa fa-bars"></i>
        </button>

        <!-- Modal del menú responsive -->

        <ng-template #menu let-modal>
            <div class="modal-header" id="menu-header">
                <button class="close float-right" aria-label="close" type="button" (click)="modal.dismiss()">
                    <i class="fa fa-times"></i>
                </button>
            </div>
            <div class="modal-body" id="menu-body">
                <div class="row">
                    <div class="col-7">
                        <nav>
                            <ul>
                                <li>
                                    <a [routerLink]="['/home']" [routerLinkActive]="['active']" (click)="modal.close()">
                                        Home
                                    </a>
                                </li>
                                <li>
                                    <a [routerLink]="['/contacto']" [routerLinkActive]="['active']"
                                        (click)="modal.close()">
                                        Contacto
                                    </a>
                                </li>
                                <li>
                                    <a [routerLink]="['/faq']" [routerLinkActive]="['active']" (click)="modal.close()">
                                        FAQ
                                    </a>
                                </li>
                                <li>
                                    <a [routerLink]="['/blog']" [routerLinkActive]="['active']" (click)="modal.close()">
                                        Blog
                                    </a>
                                </li>
                                <li>
                                    <button class="btn btn-outline btn-outline-light-green" id="register-button">
                                        Registrate
                                    </button>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="col-5">

                    </div>
                </div>
            </div>
        </ng-template>

        <!-- Menú normal -->

        <nav id="header-nav">
            <ul>
                <li>
                    <a [routerLink]="['/home']" [routerLinkActive]="['active']">
                        Home
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/contacto']" [routerLinkActive]="['active']">
                        Contacto
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/faq']" [routerLinkActive]="['active']">
                        FAQ
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/blog']" [routerLinkActive]="['active']">
                        Blog
                    </a>
                </li>
                <li style="font-size: 30px;" class="separator">
                    |
                </li>
                <li>
                    <button class="btn btn-outline btn-outline-light-green">
                        Registrate
                    </button>
                </li>
            </ul>
        </nav>
    </div>
</header>