.main-img {
  background-image: url(../../../assets/lukount/HOME/BG.png);
  padding-top: 50px;
  padding-bottom: 65px;
  background-repeat: no-repeat;
}

#contact {
  height: auto;
}

#contact img {
  width: 100%;
}

#contact h1 {
  color: var(--dark-green);
  text-align: center;
  margin-bottom: 25px;
  font-size: 30px;
}

@media (min-width: 576px) {
  #contact h1 {
    font-size: 35px;
  }
}

@media (min-width: 768px) {
  #contact h1 {
    font-size: 40px;
  }
}
@media (min-width: 992px) {
  #contact h1 {
    font-size: 35px;
  }
}
@media (min-width: 1200px) {
  #contact h1 {
    font-size: 40px;
  }
}
