<div class="container mt-5">
    <app-header></app-header>
</div>
<div class="container">
    <section id="contact" class="row">
        <div class="col-md-6">
            <img src="" alt=""
                style="width: 100%; background-color: var(--light-green);height: 250px;margin-bottom: 25px;">
            <app-contact-message></app-contact-message>
        </div>
        <div class="col-md-6">
            <h1>Descubra nuestra solución</h1>
            <app-solution-form [pageTitle]="pageTitle"></app-solution-form>
        </div>
    </section>
</div>