<div class="main-img">
    <div class="container">
        <app-header></app-header>
        <section id="contact" class="row">
            <div class="col-lg-6">
                <img src="../../../assets/lukount/CONTACTO/contacto_img.png" alt="Contacto">
                <h1 class="d-lg-none mt-3">Descubra nuestra solución</h1>
                <app-contact-message></app-contact-message>
            </div>
            <div class="col-lg-6">
                <h1 class="d-none d-lg-block">Descubra nuestra solución</h1>
                <app-solution-form [pageTitle]="pageTitle"></app-solution-form>
            </div>
        </section>
    </div>
</div>