<div class="bg-light-green">
    <div class="container">
        <section id="contact-advisor-banner" class="row">
            <div class="col-md-6"></div>
            <div class="col-md-6 message">
                <h2>Contactar un asesor</h2>
                <p>
                    Envíanos un mensaje para que descubras nuestra plataforma y aprendas
                    cómo podemos mejorar tu contabilidad.
                </p>
                <a href="" class="btn btn-dark-green">
                    Contactar
                </a>
            </div>
        </section>
    </div>
</div>