<div id="blog-card" class="card mt-2">
    <div class="card-header">
        <img src="" alt="" class="main-img">
    </div>
    <div class="card-body">
        <h4>{{ title }}</h4>
        <p>
            {{ content }}
        </p>
    </div>
    <div class="card-footer">
        <div class="row">
            <div class="col-3">
                <div class="author-photo">
                    <img src="{{ imagePath }}" alt="">
                </div>
            </div>
            <p>{{ authorName }}</p>
        </div>
    </div>
</div>