<section id="banner-advison-1" class="row">
    <div class="col-lg-6 message">
        <h2>Contactar un asesor</h2>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <p>
                    Envíanos un mensaje para que descubras nuestra plataforma y aprendas
                    cómo podemos mejorar tu contabilidad.
                </p>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
    <div class="col-lg-6 container">
        <form action="" id="banner-advison-1-form">
            <div class="form-group">
                <input type="email" class="form-control" placeholder="Tu correo">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Mensaje">
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="contact-form-1-check">
                <label for="contact-form-1-check" class="form-check-label">Acepto términos y condiciones</label>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-dark-green" value="Enviar">
            </div>
        </form>
    </div>
</section>