<div class="container mt-5">
    <app-header></app-header>
</div>
<div class="container">
    <section id="main-banner" class="row">
        <div class="col-md-5">
            <h1>
                Lorem ipsum dolor sit amet consectetur
            </h1>
            <a [routerLink]="['/entrada']">
                Leer más <i class="fa fa-long-arrow-right"></i>
            </a>
        </div>
        <div class="col-md-7">

        </div>
    </section>

    <section id="blog" class="row">
        <div class="col-12">
            <h2>Recientes</h2>
        </div>
        <div class="col-12 mt-5">
            <div class="row">
                <div *ngFor="let item of contentPosts" class="col-lg-4">
                    <app-blog-card [title]="item.title" [content]="item.content" [imagePath]="item.imagePath"
                        [authorName]="item.authorName">
                    </app-blog-card>
                </div>
            </div>
        </div>
        <div class="col-12" id="more">
            <p>
                Buscar más <i class="fa fa-arrow-down"></i>
            </p>
        </div>
    </section>
</div>