<div class="container">

    <section id="main-banner" class="row">
        <div class="col-md-7">
            <h1>
                <span>Su aliado financiero </span>
                privilegiado
            </h1>
            <p>
                Reportes contables en tiempo real en informes financieros para
                administrar su negocio eficientemente
            </p>
            <a href="" class="btn btn-light-green">Crear cuenta</a>
        </div>

    </section>
    <section id="mission-banner" class="row">
        <div class="col-md-5">
            <h2>Nuestra misión</h2>
            <p>
                Ofrecer
                <span>servicios de contabilidad para simplificar el manejo de su empresa.
                </span>
                que cada gerente merece acceso en tiempo real a sus datos financieros
                para tomar las mejores decisiones. Disfrute de tecnología de punta y
                trabaje con contadores altamente capacitados para potenciar su gestión
                financiera
            </p>
            <div class="d-flex justify-content-center">
                <a href="" class="btn btn-light-green">Nuestra solución</a>
            </div>
        </div>
    </section>

</div>

<div class="bg-light-green">
    <div class="container">
        <section id="banner-advison-1" class="row">
            <div class="col-md-6 message">
                <h2>Contactar un asesor</h2>
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <p>
                            Envíanos un mensaje para que descubras nuestra plataforma y aprendas
                            cómo podemos mejorar tu contabilidad.
                        </p>
                    </div>
                    <div class="col-md-1"></div>
                </div>
            </div>
            <div class="col-md-6 container">
                <form action="" id="banner-advison-1-form">
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Tu correo">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Mensaje">
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="contact-form-1-check">
                        <label for="contact-form-1-check" class="form-check-label">Acepto términos y condiciones</label>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-dark-green" value="Enviar">
                    </div>
                </form>
            </div>
        </section>
    </div>
</div>

<div class="container">
    <section id="banner-about" class="row">
        <div class="col-12">
            <h2>
                No somos solo una empresa
                <br>
                de consultoría contable
            </h2>
        </div>
        <div class="col-md-5 article-right">
            <div class="row article f-article">
                <div class="col-md-11">
                    <h3>Conecta Todos
                        <br> tus Datos
                    </h3>
                    <p>
                        Vinculamos sus cuentas bancarias, puntos de venta, nómina y todas las herramientas digitales que
                        utiliza para acelerar su flujo de datos y automatizar tareas exigentes ¡Deje que la magia de las
                        APIs y el Machine Learning opere por usted!
                    </p>
                </div>
                <div class="col-md-1">

                </div>
            </div>
            <div class="row article">
                <div class="col-md-11">
                    <h3>Mejora tu Contabilidad
                        <br> e Informes
                    </h3>
                    <p>
                        Mediante nuestro Software de Contabilidad desarrollado internamente, nos ocupamos de
                        sus obligaciones contables y fiscales. Podrá tener una visión de su situación financiera
                        en tiempo real y evolucionar su función contable de una necesidad fiscal a una herramienta
                        de decisión administrativa
                    </p>
                </div>
                <div class="col-md-1">

                </div>
            </div>
        </div>
        <div class="col-md-2">

        </div>
        <div class="col-md-5 article-left">
            <div class="row article f-article">
                <div class="col-md-1">

                </div>
                <div class="col-md-11">
                    <h3>Grupo de Expertos Centrados en tu Negocio.</h3>
                    <p>
                        Con gran experiencia y más tiempo disponible, nuestros contadores pueden centrarse en entregar
                        Informes
                        personalizados y responder sus preguntas. Todos necesitamos un punto de vista de un
                        Director Financiero (CFO) de vez en cuando.
                    </p>
                </div>
            </div>
            <div class="row article">
                <div class="col-md-1">

                </div>
                <div class="col-md-11">
                    <h3>Obtenga Flexibilidad y Enfoquese en el Crecimiento de su Empresa</h3>
                    <p>
                        Estamos listos para crecer contigo. Asignamos los recursos que necesitas en cada etapa de su
                        ciclo de vida. Nuestro modelo de negocio es flexible y escalable: pagas por lo que necesitas

                    </p>
                </div>
            </div>
        </div>
    </section>

    <section id="discover-solution" class="row">
        <div class="col-md-12">
            <h2>Descubra nuestra solución</h2>
        </div>
        <div class="col-md-6">
            <form action="">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Nombre">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Función">
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="Correo electrónico">
                </div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="solution-form-check">
                    <label for="solution-form-check" class="form-check-label">
                        He leído y acepto términos y condiciones
                    </label>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-light-green" value="Enviar">
                </div>
            </form>
        </div>
        <div class="col-md-6 message">
            <h3>¡Acelera tu contabilidad!</h3>
            <p>
                Envíanos un mensaje para que descubras nuestra plataforma y cómo te podremos
                ayudar a crecer tu negocio
            </p>
            <ul>
                <li>
                    Un experto financiero dedicado a solucionar tus retos
                </li>
                <li>
                    Ahorra tiempo y simplifica tu administración
                </li>
                <li>
                    Toma mejores decisiones
                </li>
            </ul>
        </div>
    </section>

    <section id="clients">
        <h2>
            <span>Nuestros clientes</span> hablan
        </h2>
        <div class="client-grid row">
            <div class="col-lg-4 card-container">
                <div class="card">
                    <div class="card-body">
                        <img src="../../../assets/img/comillas.png" alt="Comillas" class="blockquote">
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nostrum illo voluptatum dolorum
                            numquam veniam quidem totam nisi vero consectetur porro facilis sunt labore, libero
                            recusandae esse cupiditate quibusdam! Consequatur, iure.</p>
                    </div>
                </div>
                <div class="client-photo">
                    <img src="https://cdn.vox-cdn.com/thumbor/Oi6jzvQzWetJGlkpwLqlP1L9p28=/0x0:5568x3712/1200x800/filters:focal(2858x720:3748x1610)/cdn.vox-cdn.com/uploads/chorus_image/image/62207705/922984782.jpg.0.jpg"
                        alt="">
                </div>
                <p class="client-name">Emiliano lópez</p>
            </div>
            <div class="col-lg-4 card-container">
                <div class="card">
                    <div class="card-body">
                        <img src="../../../assets/img/comillas.png" alt="Comillas" class="blockquote">
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nostrum illo voluptatum dolorum
                            numquam veniam quidem totam nisi vero consectetur porro facilis sunt labore, libero
                            recusandae esse cupiditate quibusdam! Consequatur, iure.</p>
                    </div>
                </div>
                <div class="client-photo">
                    <img src="https://cdn.vox-cdn.com/thumbor/Oi6jzvQzWetJGlkpwLqlP1L9p28=/0x0:5568x3712/1200x800/filters:focal(2858x720:3748x1610)/cdn.vox-cdn.com/uploads/chorus_image/image/62207705/922984782.jpg.0.jpg"
                        alt="">
                </div>
                <p class="client-name">Emiliano lópez</p>
            </div>
            <div class="col-lg-4 card-container">
                <div class="card">
                    <div class="card-body">
                        <img src="../../../assets/img/comillas.png" alt="Comillas" class="blockquote">
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nostrum illo voluptatum dolorum
                            numquam veniam quidem totam nisi vero consectetur porro facilis sunt labore, libero
                            recusandae esse cupiditate quibusdam! Consequatur, iure.</p>
                    </div>
                </div>
                <div class="client-photo">
                    <img src="https://cdn.vox-cdn.com/thumbor/Oi6jzvQzWetJGlkpwLqlP1L9p28=/0x0:5568x3712/1200x800/filters:focal(2858x720:3748x1610)/cdn.vox-cdn.com/uploads/chorus_image/image/62207705/922984782.jpg.0.jpg"
                        alt="">
                </div>
                <p class="client-name">Emiliano lópez</p>
            </div>
        </div>
    </section>
</div>

<div class="bg-light-green">
    <div class="container">
        <section id="banner-advison-2" class="row">
            <div class="col-md-6"></div>
            <div class="col-md-6 message">
                <h2>Contactar un asesor</h2>
                <p>
                    Envíanos un mensaje para que descubras nuestra plataforma y aprendas
                    cómo podemos mejorar tu contabilidad.
                </p>
                <a href="" class="btn btn-dark">
                    Contactar
                </a>
            </div>
        </section>
    </div>
</div>