<div class="container">

    <section id="main-banner" class="row">
        <div class="col-md-7">
            <h1>
                Su aliado financiero <br>
                <span>privilegiado</span>
            </h1>
            <p>
                Reportes contables en tiempo real en informes financieros para
                administrar su negocio eficientemente
            </p>
            <a href="" class="btn btn-light-green">Crear cuenta</a>
        </div>
    </section>

    <section id="mission-banner" class="row">
        <div class="col-md-5">
            <h2>Nuestra misión</h2>
            <p>
                Ofrecer
                <span>
                    servicios de contabilidad para simplificar el manejo de su empresa.
                </span>
                Creemos que cada gerente merece acceso en tiempo real a sus datos financieros
                para tomar las mejores decisiones. Disfrute de tecnología de punta y
                trabaje con contadores altamente capacitados para potenciar su gestión
                financiera
            </p>
            <div class="d-flex justify-content-center">
                <a href="" class="btn btn-light-green">Nuestra solución</a>
            </div>
        </div>
    </section>

</div>

<div class="bg-light-green">
    <div class="container">
        <app-conctact-advisor2></app-conctact-advisor2>
    </div>
</div>

<div class="container">
    <section id="banner-about" class="row">
        <div class="col-12">
            <h2>
                No somos solo una empresa
                <br class="d-none d-md-block">
                de consultoría contable
            </h2>
        </div>
        <div class="col-lg-5 article-right">
            <div class="row article f-article">
                <div class="col-12 d-lg-none">
                </div>
                <div class="col-lg-10">
                    <h3>Conecta Todos
                        <br> tus Datos
                    </h3>
                    <p>
                        Vinculamos sus cuentas bancarias, puntos de venta, nómina y todas las herramientas digitales que
                        utiliza para acelerar su flujo de datos y automatizar tareas exigentes ¡Deje que la magia de las
                        APIs y el Machine Learning opere por usted!
                    </p>
                </div>
                <div class="d-none d-lg-block col-lg-2">

                </div>
            </div>
            <div class="row article">
                <div class="col-12 d-lg-none">
                </div>
                <div class="col-lg-10">
                    <h3>Mejora tu Contabilidad
                        <br> e Informes
                    </h3>
                    <p>
                        Mediante nuestro Software de Contabilidad desarrollado internamente, nos ocupamos de
                        sus obligaciones contables y fiscales. Podrá tener una visión de su situación financiera
                        en tiempo real y evolucionar su función contable de una necesidad fiscal a una herramienta
                        de decisión administrativa
                    </p>
                </div>
                <div class="d-none d-lg-block col-lg-2">

                </div>
            </div>
        </div>

        <div class="col-0 col-lg-2">
            <!-- imagen central -->
        </div>

        <div class="col-lg-5 article-left">
            <div class="row article f-article">
                <div class="col-lg-2">
                </div>
                <div class="col-lg-10">
                    <h3>Grupo de Expertos Centrados en tu Negocio.</h3>
                    <p>
                        Con gran experiencia y más tiempo disponible, nuestros contadores pueden centrarse en entregar
                        Informes
                        personalizados y responder sus preguntas. Todos necesitamos un punto de vista de un
                        Director Financiero (CFO) de vez en cuando.
                    </p>
                </div>
            </div>
            <div class="row article">
                <div class="col-lg-2">
                </div>
                <div class="col-lg-10">
                    <h3>Obtenga Flexibilidad y Enfoquese en el Crecimiento de su Empresa</h3>
                    <p>
                        Estamos listos para crecer contigo. Asignamos los recursos que necesitas en cada etapa de su
                        ciclo de vida. Nuestro modelo de negocio es flexible y escalable: pagas por lo que necesitas
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section id="discover-solution" class="row">
        <div class="col-md-12">
            <h2>Descubra nuestra solución</h2>
        </div>
        <div class="d-none d-md-block col-md-6">
            <app-solution-form [pageTitle]="pageTitle"></app-solution-form>
        </div>
        <div class="col-md-6 message">
            <app-contact-message></app-contact-message>
        </div>
        <div class="d-block d-md-none col-md-6">
            <app-solution-form [pageTitle]="pageTitle"></app-solution-form>
        </div>
    </section>

    <section id="clients">
        <h2>
            Nuestros clientes <span> hablan</span>
        </h2>
        <div class="client-grid row">
            <div class="col-lg-4 card-container" *ngFor="let item of clientCardArray">
                <app-client-card [content]="item.content" [imgRoute]="item.imgRoute" [clientName]="item.clientName">
                </app-client-card>
            </div>
        </div>
    </section>
</div>
<app-contact-advisor></app-contact-advisor>