/* Banner principal */
#main-banner {
  height: 400px;
  margin-bottom: 20px;
}

#main-banner h1 {
  color: var(--light-green);
  text-transform: uppercase;
  font-size: 25px;
  text-align: center;
}

@media (min-width: 576px) {
  #main-banner h1 {
    font-size: 35px;
  }
}

@media (min-width: 768px) {
  #main-banner h1 {
    font-size: 45px;
    text-align: left;
  }
}

#main-banner h1 span {
  font-family: "Tommy-Regular";
}

#main-banner p {
  text-align: center;
  margin-top: 15px;
  font-size: 16px;
  color: var(--dark-green);
}

@media (min-width: 576px) {
  #main-banner p {
    font-size: 18px;
  }
}

@media (min-width: 768px) {
  #main-banner p {
    font-size: 20px;
    text-align: left;
    width: 85%;
  }
}

#main-banner .btn {
  padding: 15px;
  width: 50%;
  border-radius: 50px;
  box-shadow: 1px 1px 5px var(--light-green);
}

@media (max-width: 768px) {
  #main-banner .btn {
    display: block;
    margin: 0 auto;
  }
}

/* Baner de mision */
#mission-banner {
  height: auto;
  margin-bottom: 50px;
}

#mission-banner h2 {
  color: var(--light-green);
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

@media (min-width: 576px) {
  #mission-banner h2 {
    font-size: 40px;
  }
}

@media (min-width: 768px) {
  #mission-banner h2 {
    margin-bottom: 40px;
  }
}

#mission-banner p {
  font-size: 16px;
  text-align: center;
  color: var(--dark-green);
}

@media (min-width: 768px) {
  #mission-banner p {
    font-size: 18px;
    text-align: justify;
    line-height: 28px;
  }
}

#mission-banner p span {
  text-decoration: underline;
  text-decoration-color: var(--light-green);
}

#mission-banner .btn {
  width: 50%;
  padding: 15px;
  border-radius: 50px;
  margin-top: 15px;
  display: none;
}

@media (min-width: 768px) {
  #mission-banner .btn {
    display: block;
  }
}

/* banner about */
#banner-about {
  height: auto;
  margin-bottom: 70px;
}

#banner-about h2 {
  color: var(--light-green);
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0 auto;
  margin-bottom: 30px;
}

@media (min-width: 576px) {
  #banner-about h2 {
    font-size: 35px;
  }
}

@media (min-width: 768px) {
  #banner-about h2 {
    font-size: 40px;
    text-align: center;
  }
}

#banner-about .article {
  margin-bottom: 30px;
}

@media (min-width: 992px) {
  #banner-about .article-right {
    text-align: right;
  }

  #banner-about .article-left {
    text-align: left;
  }

  #banner-about .f-article {
    height: 250px;
  }
}

#banner-about .article h3 {
  font-size: 20px;
  margin-bottom: 10px;
}
@media (min-width: 576px) {
  #banner-about .article h3 {
    font-size: 25px;
  }
}

@media (min-width: 992px) {
  #banner-about .article h3 {
    font-size: 20px;
    height: 70px;
  }
}

@media (min-width: 1200px) {
  #banner-about .article h3 {
    height: 50px;
  }
}

#banner-about .article p {
  font-size: 15px;
}

@media (min-width: 576px) {
  #banner-about .article p {
    font-size: 17px;
  }
}

/* discover solution */
#discover-solution {
  height: auto;
  margin-bottom: 75px;
}

#discover-solution h2 {
  color: var(--dark-green);
  text-align: left;
  margin: 0 auto;
  padding-bottom: 25px;
  text-align: center;
}

@media (min-width: 768px) {
  #discover-solution h2 {
    font-size: 35px;
    text-align: left;
  }
}

/* clients */
#clients {
  height: auto;
  margin-bottom: 100px;
}

#clients h2 {
  color: var(--light-green);
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

@media (min-width: 768px) {
  #clients h2 {
    font-size: 40px;
  }
}

@media (min-width: 768px) {
  #clients h2 {
    font-size: 50px;
  }
}

#clients h2 span {
  font-family: "Tommy-Regular";
}

#clients .client-grid .card-container {
  height: auto;
  margin-bottom: 100px;
}
