/* You can add global styles to this file, and also import other style files */

/*Estilos generales*/
:root {
  --light-green: #00f1a8;
  --dark-green: #00412d;
  --gray: #e8e8e8;
  --yellow: #FFBA19;
  --purple: #6254E7;
}

/*Orden según intensidad*/
@font-face {
  font-family: "Tommy-Light";
  src: url(./assets/css/fonts/MADETommySoftLight.otf);
}

@font-face {
  font-family: "Tommy-Regular";
  src: url(./assets/css/fonts/MADETommySoft.otf);
}

@font-face {
  font-family: "Tommy-Medium";
  src: url(./assets/css/fonts/MADETommySoftMedium.otf);
}

@font-face {
  font-family: "Tommy-Bold";
  src: url(./assets/css/fonts/MADETommySoftBold.otf);
}

@font-face {
  font-family: "Tommy-Black";
  src: url(./assets/css/fonts/MADETommySoftBlack.otf);
}

body {
  font-family: "Tommy-Regular";
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Tommy-Bold";
}

/* Botones */
.btn-outline-light-green {
  color: var(--light-green);
  border-color: var(--light-green);
}
.btn-outline-light-green:hover {
  background-color: var(--light-green);
  color: white;
}

.btn-light-green {
  color: white;
  border-color: var(--light-green);
  background-color: var(--light-green);
}

.btn-light-green:hover {
  color: var(--dark-green);
}

.bg-light-green {
  background-color: var(--light-green);
}

.btn-outline-dark-green {
  color: var(--dark-green);
  border-color: var(--dark-green);
}
.btn-outline-dark-green:hover {
  background-color: var(--dark-green);
  color: white;
}

.btn-dark-green {
  color: white;
  border-color: var(--dark-green);
  background-color: var(--dark-green);
}

.btn-dark-green:hover {
  color: var(--light-green);
}

.bg-dark-green {
  background-color: var(--dark-green);
}

#footer-nav {
  height: 100%;
}

#footer-nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

#footer-nav ul li {
  list-style: none;
}

#footer-nav ul li a {
  color: white;
  font-size: 20px;
}

#footer-nav ul li a:hover {
  color: var(--light-green);
  cursor: pointer;
  text-decoration: none;
}

#footer .images img {
  margin-right: 20px;
}
