/* You can add global styles to this file, and also import other style files */

/*Estilos generales*/
:root {
  --light-green: #00f1a8;
  --dark-green: #00412d;
  --gray: #e8e8e8;
  --dark-gray: #6B706E;
  --yellow: #FFBA19;
  --purple: #6254E7;
}

/*Orden según intensidad*/
@font-face {
  font-family: "Tommy-Light";
  src: url(./assets/css/fonts/hind-light.otf);
}

@font-face {
  font-family: "Tommy-Regular";
  src: url(./assets/css/fonts/hind-regular.otf);
}

@font-face {
  font-family: "Tommy-Medium";
  src: url(./assets/css/fonts/hind-medium.otf);
}

@font-face {
  font-family: "Tommy-SemiBold";
  src: url(./assets/css/fonts/hind-semibold.otf);
}

@font-face {
  font-family: "Tommy-Bold";
  src: url(./assets/css/fonts/hind-bold.otf);
}

body {
  font-family: "Tommy-Regular";
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Tommy-Bold";
}

/* Botones */
.btn-outline-light-green {
  color: var(--light-green);
  border-color: var(--light-green);
}
.btn-outline-light-green:hover {
  background-color: var(--light-green);
  color: white;
}

.btn-light-green {
  color: white;
  border-color: var(--light-green);
  background-color: var(--light-green);
}

.btn-light-green:hover {
  color: var(--dark-green);
}

.bg-light-green {
  background-color: var(--light-green);
}

.btn-outline-dark-green {
  color: var(--dark-green);
  border-color: var(--dark-green);
}
.btn-outline-dark-green:hover {
  background-color: var(--dark-green);
  color: white;
}

.btn-dark-green {
  color: white;
  border-color: var(--dark-green);
  background-color: var(--dark-green);
}

.btn-dark-green:hover {
  color: var(--light-green);
}

.bg-dark-green {
  background-color: var(--dark-green);
}

@media(max-width:768px){
  .container{
    padding-left: 40px;
    padding-right: 40px;
  }
}

p{
  color: var(--dark-gray);
}